.psvimeo_album {width:300px;}
.psvimeo_album .video_list {overflow:hidden}
.psvimeo_album .video_list li {position:relative; float:left; width:100px; height:75px;}
.psvimeo_album .video_list li a img {border:2px solid #FFF;}
.psvimeo_album .video_list li .video_icon {position:absolute; top:25px; left:30px;}