.widget_ps_vimeoalbum {width:100%;}
.widget_ps_vimeoalbum ul.video_list {overflow:hidden;} 
.widget_ps_vimeoalbum ul.video_list li {float:left; position:relative; width:100px; height:75px;}
.widget_ps_vimeoalbum ul.video_list li .video_thumbnail {width:100px; height:75px;}

.widget_ps_vimeoalbum ul.video_list li .video_icon {position:absolute; margin:0; opacity:.5;}
.widget_ps_vimeoalbum ul.video_list li .video_icon:hover {opacity:1;}